<div class="d-flex justify-content-center">
    <footer class="footer ">
        <ul >
            <li class="zoom"><a >
              <img src="../../assets/tray-home.png" alt="" style="width: 2vw;">
            </a>
            </li>
            <li class="zoom"><a >
             <img src="../../assets/tray-inquiry.png" alt="" style="width: 2vw;">
            </a>
            </li>
            <li class="zoom"><a >
              <img src="../../assets/tray-sitemap.png" alt="" style="width: 2vw;">
            </a>
        
            </li>
            <li class="zoom"><a >
              <img src="../../assets/tray-adverse.png" alt="" style="width: 2vw;">
            </a>
        
            </li>
            <li class="zoom"><a >
              <img src="../../assets/tray-contact.png" alt="" style="width: 2vw;">
            </a>
        
            </li>
            <li class='zoom'></li>
        </ul>
    </footer>
</div>

 <section class="d-flex justify-content-center ">
    <footer class="txtfotwer">
    <ul>
        <li>  <a href=""> profile</a> </li>
        <li>  <a href=""> Chat</a> </li>
        <li>  <a href=""> Home</a> </li>
        <li>  <a href=""> Achive</a> </li>
        <li>  <a href=""> Contect</a> </li> 
    </ul>
</footer>
</section> 
