<div  class="forceRatio">
  <div class="forceRatio__inner">
   <app-header></app-header>
   <div *ngIf="show" @fadeIn @fadeOut class="relative mainHeight">
     <img src="../../assets/2_3.jpg" alt="" width="100%">
   </div>
  </div>
     <div *ngIf="show" @fadeIn @fadeOut class="bottom-left">
      <div class="leftarrow">
        <h4 class="font1 text-light text-center">
          
        </h4>
      <div class="d-flex justify-content-start">
          <img   (click)="onSave()" class="ml-2 arrwosize rotated" id="neonShadow"  src="../../assets/arrow.png" alt="">
      </div>
    </div>
     </div>
     <div (click)="open(content)" class="boxmiddle"></div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
 

<!-- <pre>{{ closeResult }}</pre> -->