
   <div  class="forceRatio">
    <div class="forceRatio__inner">
     <app-header></app-header>
     <div *ngIf="show" @fadeIn @fadeOut class="relative mainHeight">
       <img src="../..//assets/2_3.jpg" alt="" width="100%">
     </div>
    </div>
       <div *ngIf="show" @fadeIn @fadeOut>
        <div class="
        absolute
         left-panel ">
      <h3 class="title2 ml-2 ">
       Aimovig® in the Real World <br>
       #1 Prescribed anti-CGRP1,* <br>
       >3 million prescriptions1,* <br>
       >400,000 patients prescribed2,
      </h3>
       </div>
       <div class="
       absolute
        middle-panel ">
     <h3 class="title2 ml-2 ">
      Aimovig® in the Real World <br>
      #1 Prescribed anti-CGRP1,* <br>
      >3 million prescriptions1,* <br>
      >400,000 patients prescribed2,
     </h3>
      </div>
      <div class="
      absolute
       right-panel ">
    <h3 class="title2 ml-2 ">
     Aimovig® in the Real World <br>
     #1 Prescribed anti-CGRP1,* <br>
     >3 million prescriptions1,* <br>
     >400,000 patients prescribed2,
    </h3>
     </div>
     <div class="
     absolute
      end-panel ">
   <h3 class="tit">
     
     <div class="ex3 "> 
     <p class="text-center pt-4 pb-2" style="font-size: 0.8rem;">
       Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
      
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat <br>
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat <br>
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
      
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
       nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
       
     </p>
   
     </div>
   </h3>
    </div>
       </div>
       <div class="row">
        <div class="amoveg12">
            <h4 class="font1 text-primary text-center">
          
            </h4>
            <div id="overlay" ></div>
  
          <div class="d-flex justify-content-start">
              <img    (click)="onSave()" class="rotated arrwosize" id="neonShadow"  src="../..//assets/arrow.png" alt="">
          </div>
        </div>
      
        <div class="top-right">
          <h4 class="font1 text-primary text-center">
           
            
          
          </h4>
          
        </div>
       
    </div>
  
  </div>
 
 
 

  
 
 
 

 
   
 
  